ion-item {
  --background: #ffffff;
  --color: #000000;
  --placeholder-color: #666666;
  --placeholder-opacity: 0.6;
  --border-radius: 16px;
  margin-bottom: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  --border-width: 0;
  --inner-border-width: 0;

  ion-input,
  ion-select {
    --color: #000000;
    font-weight: 500;
  }
}

ion-label {
  color: #555555 !important;
}