<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formUsuario" (ngSubmit)="actualizarUsuario()">
    <ion-list>
      <ion-item>
        <ion-input
          label="NOMBRE COMPLETO"
          type="text"
          labelPlacement="floating"
          placeholder="NOMBRE DEL USUARIO"
          formControlName="name"
          (input)="convertToUpperCase($event, 'name')"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="NOMBRE DE USUARIO"
          labelPlacement="floating"
          placeholder="Ej. admin, supervisor1"
          formControlName="email"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="NUEVA CONTRASEÑA"
          labelPlacement="floating"
          placeholder="Dejar en blanco para no cambiar"
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
        ></ion-input>
        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
        @if (formUsuario.get('password')?.hasError('minlength')) {
        <ion-note color="medium" style="font-size: 0.8rem;">
          La contraseña debe tener al menos 8 caracteres.
        </ion-note>
        }
      </ion-item>
      <ion-item>
        <ion-label>ROL DEL USUARIO</ion-label>
        <ion-select
          formControlName="role"
          placeholder="Seleccionar Rol"
          interface="popover"
        >
          <ion-select-option value="admin">Administrador</ion-select-option>
          <ion-select-option value="supervisor">Supervisor</ion-select-option>
          <ion-select-option value="repartidor"
            >Conductor / Repartidor</ion-select-option
          >
        </ion-select>
      </ion-item>

      @if (formUsuario.get('role')?.touched &&
      formUsuario.get('role')?.invalid) {
      <ion-text color="danger">
        <p class="ion-padding-start" style="font-size: 0.8rem;">
          Debes seleccionar un rol
        </p>
      </ion-text>
      }
    </ion-list>

    <ion-button
      expand="full"
      type="submit"
      [disabled]="formUsuario.invalid"
    >
      Actualizar Usuario
    </ion-button>
  </form>
</ion-content>