<ion-content [fullscreen]="true" class="bg-light">

  <div class="main-header">
    <div class="header-content">
      <div class="top-bar">
        <img src="./assets/logo.png" alt="Logo" class="mini-logo" />
      </div>

      <div class="text-container">
        <h2>👋 HOLA, {{ userName }}</h2>
        <p class="fecha">{{ fechaHoy }}</p>
        
        <div class="big-counter-box">
          <h1 class="big-number">{{ rutasFiltradas.length }}</h1>
          <span class="counter-label">Rutas Asignadas</span>
        </div>
      </div>
    </div>
  </div>

  <div class="white-container">
    
    <div class="tabs-container">
      <ion-segment [value]="segmentoActual" (ionChange)="cambiarSegmento($event)" mode="ios" class="custom-segment">
        <ion-segment-button value="activas">
          <ion-label>Activas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pendientes">
          <ion-label>Pendientes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="completadas">
          <ion-label>Fin</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="rutas-list-container ion-margin-top">
      
      @for (ruta of rutasFiltradas; track ruta.id) {
        
        <div class="clean-card" (click)="verDetalleRuta(ruta)">
          
          <div class="status-strip" [ngClass]="getColorEstado(getEstadoDiaActual(ruta))"></div>

          <div class="card-icon-box">
            <ion-icon name="map-outline"></ion-icon>
          </div>

          <div class="card-info">
            <div class="card-header-row">
              <h3 class="ruta-title">{{ ruta.nombre }}</h3>
              
              <ion-badge mode="ios" [color]="getColorEstado(getEstadoDiaActual(ruta))" class="mini-badge">
                {{ getEstadoDiaActual(ruta) | uppercase }}
              </ion-badge>
            </div>
            
            <span class="ruta-subtitle">Ruta #{{ ruta.id }}</span>

            <div class="repartidor-chip">
              <ion-icon name="bicycle-outline"></ion-icon>
              <span>{{ ruta.repartidor?.name || 'SIN ASIGNAR' | uppercase }}</span>
            </div>
            
            <div class="divider"></div>
          </div>

          <div class="arrow-container">
             <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>

        </div>
      } @empty {
        <div class="empty-state">
          <ion-icon name="leaf-outline" size="large"></ion-icon>
          <p>No hay rutas en la sección {{ segmentoActual }}</p>
        </div>
      }

    </div>

    <div style="height: 100px;"></div>
  </div>

</ion-content>

<ion-footer class="ion-no-border" style="background: transparent; box-shadow: none;">
  <app-supervisor-navbar paginaActual="inicio"></app-supervisor-navbar>
</ion-footer>