<div class="navbar-container">
    <div 
    class="nav-item" 
    [class.active]="paginaActual === 'inicio'"
    (click)="navegar('inicio')"> 
    <ion-icon name="home"></ion-icon>
    
    @if (paginaActual === 'inicio') {
      <span>Inicio</span>
    }
  </div>
  <div 
    class="nav-item" 
    [class.active]="paginaActual === 'rutas'"
    (click)="navegar('rutas')"> 
    <ion-icon name="compass"></ion-icon>
    
    @if (paginaActual === 'rutas') {
      <span>Rutas</span>
    }
  </div>
  <div 
    class="nav-item" 
    [class.active]="paginaActual === 'usuarios'"
    (click)="navegar('usuarios')">
    <ion-icon name="people"></ion-icon>
    
    @if (paginaActual === 'usuarios') {
      <span>Usuarios</span>
    }
  </div>
  <div 
    class="nav-item" 
    (click)="abrirMenu($event)">
    <ion-icon name="settings"></ion-icon>
  </div>

</div>