<ion-content [fullscreen]="true" class="bg-light">

  <div class="main-header">
    <div class="header-content">
      <div class="top-bar">
        <img src="./assets/logo.png" alt="Logo" class="mini-logo" />
      </div>

      <div class="text-container">
        <h2>MIS RUTAS</h2>
        <p>Administración general de rutas</p>
        <h1 class="big-number">{{ rutas.length }}</h1>
      </div>
    </div>
  </div>

  <div class="white-container">

    @if (cargando) {
      <div class="lista-container">
        @for (i of [1,2,3,4]; track i) {
          <div class="clean-card skeleton-card">
            <div class="card-icon-box skeleton-box"></div>
            <div style="flex: 1">
              <ion-skeleton-text animated style="width: 60%; height: 20px; border-radius: 5px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40%; height: 15px; margin-top: 5px;"></ion-skeleton-text>
            </div>
          </div>
        }
      </div>
    } 
    
    @else {
      <div class="lista-container">
        
        @for (ruta of rutas; track ruta.id) {
          <div class="clean-card" (click)="verDetalleRuta(ruta)">
            
            <div class="card-icon-box">
              <ion-icon name="map-outline"></ion-icon>
            </div>

            <div class="card-info">
              <div class="card-header-row">
                <h3 class="ruta-title">{{ ruta.nombre }}</h3>
              </div>
              
              <span class="ruta-subtitle">Ruta #{{ ruta.id }}</span>

              <div class="detail-row">
                <ion-icon name="calendar-outline"></ion-icon>
                <span>{{ obtenerDiasTexto(ruta) }}</span>
              </div>

              <div class="repartidor-chip">
                <ion-icon name="bicycle-outline"></ion-icon>
                <span>{{ ruta.repartidor?.name || 'SIN ASIGNAR' | uppercase }}</span>
              </div>

              <div class="divider"></div>

            </div>

            <div class="arrow-container">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>

          </div>
        } @empty {
          <div class="empty-state">
            <ion-icon name="map-outline" size="large"></ion-icon>
            <p>No tienes rutas asignadas.</p>
          </div>
        }

      </div>
    }

    <div style="height: 100px;"></div>
  </div>

</ion-content>

<ion-footer class="ion-no-border" style="background: transparent; box-shadow: none;">
  <app-supervisor-navbar paginaActual="rutas"></app-supervisor-navbar>
</ion-footer>