<ion-header [translucent]="true" class="ion-no-border">
<ion-toolbar color="transparent" class="ion-text-center transparent-toolbar">  
<ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <img src="./assets/logo.png" alt="Logo" class="logo" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-message">
    <h2>👋 Bienvenido, Administrador</h2>
    <p>Selecciona una opción para comenzar:</p>
  </div>
  <ion-grid>
    <p style="text-align: center;" >Estado General hoy: </p>
    <ion-row class="ion-justify-content-center" style="row-gap: 20px;">
      <ion-col size="12" size-md="5">
        <ion-card class="opcion-card card-with-image-right">       
        <ion-card-header>
            <ion-card-title>Rutas Activas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            23/50
          </ion-card-content>
          <img src="assets/ruta.png" alt="rutas" class="card-image-absolute">
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="5">
        <ion-card  class="opcion-card card-with-image-right">
          <ion-card-header>
            <ion-card-title>Notificaciones</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            8
          </ion-card-content>
          <img src="assets/advertencia.png" alt="advertencia" class="card-image-absolute">
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="5">
        <ion-card  class="opcion-card card-with-image-right">
          <ion-card-header>
            <ion-card-title>
              Rutas Pendientes
            </ion-card-title>
          </ion-card-header>
           <ion-card-content>
            5
          </ion-card-content>
          <img src="assets/reloj.png" alt="reloj" class="card-image-absolute">
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="5">
        <ion-card  class="opcion-card card-with-image-right">
          <ion-card-header>
            <ion-card-title>Incidencias</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            14
          </ion-card-content>
          <img src="assets/campana.png" alt="campana" class="card-image-absolute">
        </ion-card>
      </ion-col>
    </ion-row>
    <p style="text-align: center;" >Accesos Principales:</p>
   <ion-row class="ion-justify-content-center" style="row-gap: 20px;">
      <ion-col size="12" size-md="5">
        <ion-card button (click)="irARutas()" class="opcion-card card-with-image-right">       
        <ion-card-header>
            <ion-card-title> Gestión de Rutas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="5">
        <ion-card button (click)="irARepartidores()" class="opcion-card card-with-image-right">
          <ion-card-header>
            <ion-card-title>Conductores /
              Repartidores</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="5">
        <ion-card  button (click)="irASupervisores()" class="opcion-card card-with-image-right">
          <ion-card-header>
            <ion-card-title>
              Supervisores
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="5">
        <ion-card button (click)="irAReportes()"  class="opcion-card card-with-image-right">
          <ion-card-header>
            <ion-card-title>Reportes Generales</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>