ion-content {
  --background: #f4f5f8; // Gris muy suave
}

.intro-text {
  text-align: center;
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

// Estilo de los inputs tipo "Burbuja"
ion-item {
  --background: #ffffff;
  --border-radius: 16px;
  --padding-start: 10px;
  margin-bottom: 10px; // Espacio entre burbujas
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); // Sombra suave
  
  // Borde lateral decorativo
  border-left: 5px solid var(--ion-color-primary);

  ion-icon {
    margin-right: 8px;
    opacity: 0.8;
  }

  // Animación al enfocar
  &.item-has-focus {
    border-left: 5px solid var(--ion-color-tertiary);
    transform: scale(1.02);
    transition: all 0.2s ease;

    ion-icon {
      color: var(--ion-color-tertiary) !important;
    }
  }
}

// Mensaje de error rojo pequeño
.error-msg {
  color: var(--ion-color-danger);
  font-size: 0.75rem;
  margin-left: 20px;
  margin-top: -5px;
  margin-bottom: 10px;
}

ion-button {
  --box-shadow: 0 4px 15px rgba(var(--ion-color-primary-rgb), 0.4);
  font-weight: 600;
  height: 50px;
  margin-top: 20px;
}