:host {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.navbar-container {
  background-color: #cceeff;
  border-radius: 40px;
  height: 65px;
  width: 90%;
  max-width: 400px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 10px 25px rgba(144, 194, 255, 0.3);
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  padding: 10px;
  border-radius: 30px;
  transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
  cursor: pointer;
  position: relative;

  ion-icon {
    font-size: 1.6rem;
    color: #444;
  }

  // Estado ACTIVO 
  &.active {
    background-color: #8cbbf1;
    color: #0044aa;
    padding: 8px 20px;
    gap: 8px;

    ion-icon {
      color: #003380;
    }

    span {
      font-weight: 700;
      font-size: 0.95rem;
      color: #003380;
      animation: slideIn 0.3s ease;
      white-space: nowrap;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    width: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    width: auto;
    transform: translateX(0);
  }
}