<div class="page-container">
  <div class="content-container login-content">

    <div class="header-wave-container">
      <div class="logo-text-area">
        <img src="logo.png" alt="Logo Agua Gugar Vívela" class="app-logo">
        <h1 class="welcome-text">BIENVENIDO SUPERVISOR</h1>
      </div>
      <svg class="wave" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#f4f5f8" fill-opacity="1" d="M0,192L48,181.3C96,171,192,149,288,144C384,139,480,149,576,170.7C672,192,768,224,864,224C960,224,1056,192,1152,176C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
    </div>

    <div class="login-form-container">

      <span class="back-arrow">←</span>

      <div class="input-list">
        <div class="input-item">
          <span class="icon">✉️</span>
          <input type="email" placeholder="Email" class="text-input">
        </div>

        <div class="input-item">
          <span class="icon">🔒</span>
          <input type="password" placeholder="Password" class="text-input">
          <span class="icon-end">👁️</span>
        </div>
      </div>

      <div class="forgot-password-link">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <button class="login-button" (click)="goToHome()">
        Ingresar
      </button>

    </div>
  </div>
</div>
